<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="description" content="Informasi kesehatan untuk kamu">
  <meta name="dicoding:email" content="pramudyaihrat@gmail.com">
  <link rel="icon" href="./IRIS.webp">
  <link rel="manifest" href="./app.webmanifest">
  <!--Theme android-->
  <meta name="theme-color" content="#F0ff00" />
  <!--iPhone-->
  <link rel="apple-touch-icon" href="/#belum diisi">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>Sehat Yuks</title>
</head>



<body>
  <header id="page-top">
    </nav>
    <nav class="navbar navbar-expand-lg bg-light fixed-top navigasi-menu" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./logo/IRIS.webp" alt="IRIS" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#/home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#/artikel">
                Artikel
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/profile">
                About Us
              </a>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Info Obat
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#/obat">Baca Info Obat</a></li>
              </ul>
            </li>
            <li id="containerValidationButton">
              <!-- <a class="btn btn-loginValidation" href="#/login">Login</a> -->
              <i class="fas fa-window-restore"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main id="mainContent">
    <div hidden id="spinner"></div>
  </main>

  <footer>
    <div class="container-footer">
      <div class="grid_footer">
        <div class="footer-col">
          <h4>Menu</h4>
          <div class="menus">
            <ul>
              <li><a href="#/artikel">Artikel</a></li>
              <li><a href="#/obat">Info Obat</a></li>
              <li><a href="#/covid19">Covid-19</a></li>
              <li><a href="#/lingkungan">Lingkungan</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-col">
          <h4>Self Care</h4>
          <div class="menus">
            <ul>
              <li><a href="#/food_page">Kesehatan Makanan</a></li>
              <li><a href="#">Latihan Sehat</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-col">
          <h4>About US</h4>
          <div class="social-links">
            <a href="https://github.com/IhratPramudya"><i class="ftr">I</i></a>
            <a href="https://github.com/rizalsuryana"><i class="ftr">R</i></a>
            <a href="https://github.com/Understrike123"><i class="ftr">I</i></a>
            <a href="https://github.com/susija"><i class="ftr">S</i></a>
          </div>
        </div>
      </div>
      <div class="footer-bawah">
        <p> IRIS Sehat Yuks | Front-End Back-End Web</p>
      </div>

  </footer>
</body>

</html>