@media screen and (max-width: 376px) {
  .container {
    flex-wrap: nowrap;
  }

  .baners img {
    width: 100%;
    height: 360px;
  }

  .baners {
    height: 360px;
  }

  .profil_head {
    text-align: center;
  }

  .profil_head img {
    width: 300px;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;

  }
}

@media screen and (min-width: 376px) {
  .image_login_content {
    width: 400px;
  }

  .profil_card {
    width: 100%;
  }

  .profil_head img {
    height: 380px;
  }

  .profil_body {
    font-size: 15px;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 427px) {
  .container {
    margin: 0 auto;
  }

  .validation-user {

    border-radius: 5px;
    width: 400px;
    height: 500px;
    margin: 0;
  }

  .loginForm {
    justify-self: center;
  }

  .justify-content-evenly {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
  }

  .image_login_content {
    display: grid;
    width: 350px;
    height: 320px;
    margin: auto 0;
  }

  .form_content {
    display: grid;
    position: relative;
    width: 400px;
  }
}

@media screen and (min-width: 500px) {

  /* Home page */
  .katalog {
    width: 350px;
  }

  .katalog-info {
    width: 350px;
  }
}

@media screen and (min-width: 700px) {
  #hasil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #hasil-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .katalog {
    width: 350px;

  }

  .katalog-info {
    width: 350px;
  }
}

@media screen and (min-width: 900px) {
  #hasil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #hasil-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .katalog {
    width: 300px;
  }

  .katalog-info {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}

@media screen and (max-width: 426px) {
  .validation-user {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  #hasil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .katalog {
    width: 340px;
  }

  #hasil-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .katalog-info {
    width: 340px;
  }
}

@media screen and (max-width: 580px) {
  .nav-point {
    margin: 0 auto;
  }
}

@media screen and (min-width: 540px) {
  .nav-point {
    margin-left: 30px;
  }

}

/* detail all contents*/
@media screen and (max-width: 1000px) {
  .Grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10;
  }

  .textView {
    margin-top: 5px;
  }

}

@media screen and (min-width: 1001px) {
  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .textView {
    margin-top: 32px;
  }
}

/*login*/
@media screen and (max-width: 1000px) {
  .Grid-login {
    grid-template-rows: 0.25fr 0.5fr;
    grid-gap: 20px;
  }
}



@media screen and (min-width: 1001px) {
  .Grid-login {
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
  }
}

/*  apa nioh */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .profil_head img {
    border-radius: 5px;
    height: 300px;
    width: 290px;
  }

  .profil_card {
    padding: 35px;
  }

  .profil_head {
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .profil_card {
    height: 600px;
  }
}


@media screen and (max-width: 768px) {
  .profil_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 769px) {
  .profil_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .profil_head img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
  }
}

@media screen and (min-width: 1025px) {
  .profil_head img {
    border-radius: 5px;
    height: 380px;
    width: 100%;
  }

  .profil_card {
    height: 735px;
  }

  .profil_body {
    font-size: 17px;
    padding: 5px 10px;
  }
}